### Instruction ###
Fix the given unparsable SQLite SQL Query based on the provided database schema and parsing error.
Only reply with the fixed SQL Query, without any comments or markdown punctuation.

### Database Schema ###
{{ schema_linker_db_schema }}

### Unparsable SQL Query###
{{ sql_query }}

### Parsing Error ###
{{ parsing_error }}

### Fixed SQL Query ###
SQL Query: